<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login</title>
    {% load staticfiles %}
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'showroom/login/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'showroom/login/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'showroom/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	{% comment %} <link rel="stylesheet" type="text/css" href="{% static 'showroom/login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}"> {% endcomment %}
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'showroom/login/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'showroom/login/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'showroom/login/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'showroom/login/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'showroom/login/css/main.css' %}">
<!--===============================================================================================-->
</head>

<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
				<form class="login100-form validate-form" method="post"> {% csrf_token %}
					<span class="login100-form-title p-b-20">
						Login
					</span>

					{% if messages %}
						<span class="login10-form-title ">
							<div class="messages alert alert-success show">
								{% for message in messages %}
									<label {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</label>
								{% endfor %}
							</div>
							</br>
						</span>
					{% endif %}
					
					<div class="wrap-input100 validate-input m-b-16" data-validate = "Enter Valid Username.">
						<input class="input100" type="text" name="username" placeholder="Username">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-envelope"></span>
						</span>
					</div>

					<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required.">
						<input class="input100" type="password" name="password" placeholder="Password">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-lock"></span>
						</span>
					</div>
					
					<div class="container-login100-form-btn p-t-25">
						<button class="login100-form-btn">
							Login
						</button>
					</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<script src="{% static 'showroom/login/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
	<script src="{% static 'showroom/login/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'showroom/login/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'showroom/login/vendor/select2/select2.min.js' %}"></script>
	<script src="{% static 'showroom/login/js/main.js' %}"></script>
</body>
</html>