{% extends 'showroom/branch/base.html' %}
{% block title %} Add Area {% endblock %}
{% load staticfiles %}
{% block contain %}
<div class="content-wrapper">
    <section class="content-header"><br>
		<div class="row">
			<div class="col-md-8">
				<div class="box">
					{% if messages %}
						{% for message in messages %}
							<div class="alert {{ message.tags }} alert-dismissible" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								{% if message.tags %} <h4>{{ message }}</h4>{% endif %}
							</div>
						{% endfor %}
					{% endif %}

					<div class="row">
			            <div class="col-md-4">
                            <div class="box-header">
                                <h3 class="box-title">Add Area</h3>
                            </div>
                        </div>
			            <div class="col-md-8 text-right">
                            <div class="box-header">
                                <a href="/area-list/"><h3 class="box-title"><i class="fa fa-caret-right"></i> Go to Area list</h3></a>
                            </div>
                        </div>
                    </div>
					
					<form role="form" method="POST"> {% csrf_token %}
						<div class="box-body">
							<div class="form-group namecolor">
								<label for="exampleInputEmail1">Area Name :</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-plus-circle"></i>
									</div>
									<input type="text" class="form-control" name="area_name" placeholder="Area Name" required>
								</div>
							</div>
						</div>
						<div class="box-footer">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</div>
	<script src="{% static 'recycle/admin/bower_components/jquery/dist/jquery.min.js' %}"></script>
	<script>
		$(function () {
			$('#datepicker').datepicker({
				autoclose: true
			})
			$('[data-mask]').inputmask()
			//Timepicker
			$('.timepicker').timepicker({
				showInputs: false
			})
		})

		$('#category_id').change(function(){
        var url = '/sell-product/';
        $.ajax({
            url: url,
            data: {
                'category_id': $('#category_id :selected').val(),
            },
            success: function (data) {
                if (data == "not_found") alert("No product available");
                else {
                    $("#price").val(data.price_per_kg);
                }
            }
        });
    });
	</script>
{% endblock %}