{% extends 'showroom/branch/base.html' %}
{% block title %} Change Password {% endblock %}
{% load staticfiles %}
{% block contain %}
<div class="content-wrapper">
    <section class="content-header">
        <div class="row">
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header">  
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert {{ message.tags }} alert-dismissible" style="padding-top: 7px;" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    {% if message.tags %} <h4><i class="icon fa fa-check"></i> {{ message }}</h4>{% endif %}
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <form method="post"> {% csrf_token %}
                        <div class="box-body" >
                            <div class="form-group pass_show">
                                <label for="exampleInputEmail1">Current Password</label>
                                <input type="password" name="current_pass"  class="form-control" id="exampleInputEmail1" placeholder="Current Password" required>
                            </div>

                            <div class="form-group pass_show">
                                <label for="exampleInputPassword1">New Password</label>
                                <input type="password" id="new_pass1" name="new_pass" class="form-control"  placeholder="New Password" required>
                            </div>

                            <div class="form-group pass_show">
                                <label for="exampleInputPassword1">New Password</label>
                                <input type="password" id="confirm_pass2" name="confirm_pass" class="form-control"  placeholder="Confirm Password" required>
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<script src="{% static 'showroom/admin/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.pass_show').append('<span class="ptxt">Show</span>');  
    });
    
    $(document).on('click','.pass_show .ptxt', function(){ 
        $(this).text($(this).text() == "Show" ? "Hide" : "Show"); 
        $(this).prev().attr('type', function(index, attr){return attr == 'password' ? 'text' : 'password'; }); 
    });

    $("#confirm_pass2").change(function(){
        if($("#new_pass1").val() != $("#confirm_pass2").val())
        {
            alert("Confirm Password' and 'Password' do not match.");
            $("#confirm_pass2").val('');
            $("#confirm_pass2").focus();
        }
    });  
</script>
{% endblock %}