{% extends 'showroom/branch/base.html' %}
{% block title %} Customer Details {% endblock %}
{% load staticfiles %}
{% load mathfilters %}
{% block contain %}

<div class="content-wrapper">
    <section class="content-header">
      	<div class="row">
			<div class="col-xs-6">
				<div class="box">
                    {% if messages %}
						{% for message in messages %}
							<div class="alert {{ message.tags }} alert-dismissible" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								{% if message.tags %} <h4>{{ message }}</h4>{% endif %}
							</div>
						{% endfor %}
					{% endif %}
					
					<div class="box-body" style="overflow-x:auto;">
                        {% if customer_details.customer_image %}
                            <img src="/static/showroom/media/{{ customer_details.customer_image }}" class="profile-user-img img-responsive" alt="{{ customer_details.customer_image }}">
                        {% else %}
                            <img src="{% static 'showroom/admin/img/userimage.jpg' %}" class="profile-user-img img-responsive img-circle" alt="No Image">
                        {% endif %} 
						<table id="customer_details_tbl" class="table table-bordered table-hover">
							<tdead>
                                <tr style="font-size:13px;">
                                    <td style="text-align:right;">Name</td> <td> {{ customer_details.name }} </td>
                                </tr>
                                <tr style="font-size:13px;">
                                    <td style="text-align:right;">Area</td> <td> {{ customer_details.area }} </td>
                                </tr>  
                                <tr style="font-size:13px;">  
                                    <td style="text-align:right;">Branch</td> <td> {{ customer_details.branch }} </td>
                                </tr>  
                                <tr style="font-size:13px;">  
                                    <td style="text-align:right;">Profession</td> <td> {{ customer_details.profession }} </td>
                                </tr>  
                                <tr style="font-size:13px;">  
                                    <td style="text-align:right;">Email</td> <td> {{ customer_details.email }} </td>
                                </tr>  
                                <tr style="font-size:13px;">
                                    <td style="text-align:right;">Number</td> <td> {{ customer_details.mobile }} </td>
                                </tr>  
                                <tr style="font-size:13px;">
                                    <td style="text-align:right;">Another Number</td> <td> {{ customer_details.mobile1 }} </td>
                                </tr>  
                                <tr style="font-size:13px;">    
                                    <td style="text-align:right;">NID Number</td> <td> {{ customer_details.nid_number }} </td>
                                </tr>  
                                <tr style="font-size:13px;">    
                                    {% if customer_details.nid_image %}
                                        <td style="text-align:right;">NID Image</td><td><img src="/static/showroom/media/{{ customer_details.nid_image }}" title="NID Card"  style="width:150px;height:60px;"></td>
                                    {% else %}
                                        <td style="text-align:right;">NID Image</td><td>No Image</td>
                                    {% endif %}
                                </tr>  
                                <tr style="font-size:13px;">    
                                    <td style="text-align:right;">Present Address</td> <td> {{ customer_details.present_address }} </td>
                                </tr>  
                                <tr style="font-size:13px;">    
                                    <td style="text-align:right;">Permanent Address</td> <td> {{ customer_details.permanent_address }} </td>
                                </tr>  
                                <tr style="font-size:13px;">    
                                    <td style="text-align:right;">Reference Person</td> <td> {{ customer_details.reference_person }} </td>
                                </tr>  
                                <tr style="font-size:13px;">    
                                    <td style="text-align:right;">Reference Address</td> <td> {{ customer_details.reference_address }} </td>
                                </tr>  
                                <tr style="font-size:13px;">    
                                    <td style="text-align:right;">Reference Number</td> <td> {{ customer_details.reference_mobile }} </td>
                                </tr>  
                                <tr style="font-size:13px;">    
                                    <td style="text-align:right;">Reg. Date</td> <td> {{ customer_details.reg_date }} </td>
                                </tr>  
                            </tdead>
						</table>
					</div>
				</div>
			</div>
    	</div>
	</section>
</div>

{% endblock %}