{% extends 'showroom/branch/base.html' %}
{% block title %} Add Product {% endblock %}
{% load staticfiles %}
{% block contain %}
<style>
	.namecolor label{
	color: #009688 !important;
	font-weight: bold !important;
	}
	.container {
		display: block;
		position: relative;
		padding-left: 35px;
		margin-bottom: 12px;
		cursor: pointer;
		font-size: 16px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	.container input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
	}
	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 25px;
		width: 25px;
		background-color: #cccdce;
		border-radius: 50%;
	}
	.container:hover input ~ .checkmark {
		background-color: #ccc;
	}

	.container input:checked ~ .checkmark {
		background-color: #2196F3;
	}

	.checkmark:after {
		content: "";
		position: absolute;
		display: none;
	}

	.container input:checked ~ .checkmark:after {
		display: block;
	}

	.container .checkmark:after {
		top: 9px;
		left: 9px;
		width: 8px;
		height: 8px;
		border-radius: 50%;
		background: white;
	}

</style>

<div class="content-wrapper">
    <section class="content-header"><br>
        <ol class="breadcrumb">
            <li><a href="/dashboard/"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Add Products</li>
        </ol>
    </section>

	<section class="content">
		<div class="row">
			<div class="col-md-8">
				<div class="box">
					{% if messages %}
						{% for message in messages %}
							<div class="alert {{ message.tags }} alert-dismissible" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								{% if message.tags %} <h4>{{ message }}</h4>{% endif %}
							</div>
						{% endfor %}
					{% endif %}

					<div class="row">
			            <div class="col-md-4">
                            <div class="box-header">
                                <h3 class="box-title">Add Products</h3>
                            </div>
                        </div>
			            <div class="col-md-8 text-right">
                            <div class="box-header">
                                <a href="/product-list/"><h3 class="box-title"><i class="fa fa-caret-right"></i>Go to Product list</h3></a>
                            </div>
                        </div>
                    </div>
					
					<form role="form" method="POST" enctype="multipart/form-data" > {% csrf_token %}
						<div class="box-body">
							<div class="form-group namecolor">
								<label>Select Category :</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-th-large"></i>
									</div>
									<select class="form-control" name = "category_name">
										{% for data in pro_cat %}
											<option value="{{ data.id }}" required>{{ data.category_name }}</option>
										{% endfor %}
									</select>
									<div class="input-group-addon">
										<a style="height:21px;" title = "Add Category" href="/product-category-add/"><i class="fa fa-plus-circle"></i></a>
									</div>
								</div>
							</div>

							<div class="form-group namecolor">
								<label>Select Branch :</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-home"></i>
									</div>
									<select class="form-control" name = "branch_name" >
										{% for data in brance_list %}
											<option value="{{ data.id }}" required>{{ data.branch_name }}</option>
										{% endfor %}
									</select>
									<div class="input-group-addon">
										<a style="height:21px;" title = "Add Category" href="/add-brance/"><i class="fa fa-plus-circle"></i></a>
									</div>
								</div>
							</div>
							<div class="form-group namecolor">
								<label for="exampleInputEmail1">Product Name :</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-plus-circle"></i>
									</div>
									<input type="text" class="form-control" name="product_name" placeholder="Product Name" required>
								</div>
							</div>
							
							<div class="form-group namecolor">
								<label for="exampleInputEmail1">Brand Name :</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-bold"></i>
									</div>
									<input type="text" class="form-control" name="brand_name" placeholder="Brand Name" required>
								</div>
							</div>

							<div class="form-group namecolor">
								<label for="exampleInputEmail1">Product Image :</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-picture-o"></i>
									</div>
									<input type="file" id="exampleInputFile" name="product_image">
								</div>
							</div>

							<div class="form-group namecolor">
								<label for="exampleInputEmail1">Product Model Number :</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-circle"></i>
									</div>
									<input type="text" class="form-control" name="product_model_number" placeholder="Product Model" >
								</div>
							</div>

							<div class="form-group namecolor">
								<label for="exampleInputEmail1">Product Color :</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-braille"></i>
									</div>
									<input type="text" class="form-control" name="product_color" placeholder="Product Color" >
								</div>
							</div>

							<div class="form-group namecolor">
								<label for="exampleInputEmail1">Total Quantity :</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-sort-numeric-desc"></i>
									</div>
									<input type="number" class="form-control" name="total_quantity" placeholder="Total Quantity " required>
								</div>
							</div>

							<div class="form-group namecolor">
								<label for="exampleInputEmail1">Unit Price By Cash :</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-money"></i>
									</div>
									<input type="number" class="form-control" name="unit_price_by_cash" placeholder="Unit Price By Cash" required>
								</div>
							</div>

							<div class="form-group namecolor">
								<label for="exampleInputEmail1">Unit Price By Installment :</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-usd"></i>
									</div>
									<input type="number" class="form-control" name="unit_price_by_installment" placeholder="Unit Price By Installment" required>
								</div>
							</div>

							<div class="form-group namecolor">
								<label for="exampleInputEmail1">Buy Price:</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-usd"></i>
									</div>
									<input type="number" class="form-control" name="buy_price" placeholder="Buy Price" required>
								</div>
							</div>

							<div class="form-group namecolor">
								<label for="exampleInputEmail1">Maximum Discount:</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-usd"></i>
									</div>
									<input type="number" class="form-control" name="maximum_discount" placeholder="Maximum Discount">
								</div>
							</div>

							<div class="form-group namecolor">
								<label for="exampleInputEmail1">Discription :</label>
								<div class="input-group">
									<div class="input-group-addon">
										<i class="fa fa-address-card-o"></i>
									</div>
									<textarea class="form-control" rows="2" name="discription" placeholder="Discription"></textarea>
								</div>
							</div>
						</div>
						<div class="box-footer">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</div>
	<script src="{% static 'recycle/admin/bower_components/jquery/dist/jquery.min.js' %}"></script>
	<script>
		$(function () {
			$('#datepicker').datepicker({
				autoclose: true
			})
			$('[data-mask]').inputmask()
			//Timepicker
			$('.timepicker').timepicker({
				showInputs: false
			})
		})

		$('#category_id').change(function(){
        var url = '/sell-product/';
        $.ajax({
            url: url,
            data: {
                'category_id': $('#category_id :selected').val(),
            },
            success: function (data) {
                if (data == "not_found") alert("No product available");
                else {
                    $("#price").val(data.price_per_kg);
                }
            }
        });
    });
	</script>
{% endblock %}