{% extends 'showroom/branch/base.html' %}
{% block title %} Product list {% endblock %}
{% load staticfiles %}
{% block contain %}

<div class="content-wrapper">
    <section class="content-header">
      	<div class="row">
			<div class="col-xs-12">
				<div class="box">
                    {% if messages %}
						{% for message in messages %}
							<div class="alert {{ message.tags }} alert-dismissible" role="alert">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								{% if message.tags %} <h4>{{ message }}</h4>{% endif %}
							</div>
						{% endfor %}
					{% endif %}
                    
                    <div class="row">
			            <div class="col-md-4">
                            <div class="box-header">
                                <h3 class="box-title">Product List</h3>
                            </div>
                        </div>
			            <div class="col-md-8 text-right">
                            <div class="box-header">
                                <a href="/add-product/"><h3 class="box-title"><i class="fa fa-caret-right"></i> Go to add Product</h3></a>
                            </div>
                        </div>
                    </div>
					
					<div class="box-body" style="overflow-x:auto;">
						<table id="example1" class="table table-bordered table-hover">
							<thead>
                                <tr style="font-size:13px;">
                                    <th>SL</th>
                                    <th>Branch Name</th>
                                    <th>Category Name</th>
                                    <th>Product Name</th>
                                    <th>Brand Name</th>
                                    <th>Product Image</th>
                                    <th>Product Model</th>
                                    <th>Product Color</th>
                                    <th style="width:13px;">Available Quantity</th>
                                    <th>Unit Price ( Cash )</th>
                                    <th>Unit Price( Installment )</th>
                                    <th>Buy Price</th>
                                    <th>Maximum Discount</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for data in product_list %}
                                    <tr>
                                        <td>{{forloop.counter}}</td>
                                        <td>{{data.branch}}</td>
                                        <td>{{data.category_name}}</td>
                                        <td>{{data.product_name}}</td>
                                        <td>{{data.brand_name}}</td>
                                        {% if data.product_image %}
                                            <td><div class="user_image"><img src="/static/showroom/media/{{ data.product_image }}" alt="" id="users_image" style="width:110px;height:60px;"></td>
                                        {% else %}
                                            <td>No Image</td>
                                        {% endif %}
                                        <td>{{data.product_model_number}}</td>
                                        <td>{{data.product_color}}</td>
                                        <td style="width:13px;">{{data.available_quantity}}</td>
                                        <td>{{data.unit_price_by_cash}}</td>
                                        <td>{{data.unit_price_by_installment}}</td>
                                        <td>{{data.buy_price}}</td>
                                        <td>{{data.maximum_discount}}</td>
                                        <td>
                                            <a href="/edit/{{ data.area_name }}" class="btn btn-info" title="Edit {{data.area_name}}"><i class="fa fa-edit"></i></a> 
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
						</table>
					</div>
				</div>
			</div>
    	</div>
	</section>
</div>
<script src="{% static 'recycle/admin/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script>
  $(function () {
    $('#example1').DataTable()
    $('#example2').DataTable({
      'paging'      : true,
      'lengthChange': false,
      'searching'   : false,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : false
    })
  })
</script>
{% endblock %}