<form role="form" method="POST" enctype="multipart/form-data" > {% csrf_token %}
	<div class="box-body">

		<div class="form-group namecolor">
			<label>Select Customer :</label>
			<div class="input-group">
				<div class="input-group-addon">
					<i class="fa fa-home"></i>
				</div>
				<select class="form-control" name = "branch_name" >
					{% for data in customer_list %}
						<option value="{{ data.id }}" required>{{ data.name }}( {{data.mobile}} )</option>
					{% endfor %}
				</select>
			</div>
		</div>

		<div class="form-group namecolor">
			<label>Select Category :</label>
			<div class="input-group">
				<div class="input-group-addon">
					<i class="fa fa-th-large"></i>
				</div>
				<select name="product_cat" class="form-control select" id="category_id" required> 
					{% for data in product_list %}    
						{% if category_name == data.pk %}
							<option value="{{ data.pk }}" selected >{{ data.category_name }}</option> 
						{% else %}
							<option value="{{ data.pk }}">{{ data.category_name }}</option> 
						{% endif %}
					{% endfor %}
				</select>
			</div>
		</div>

		<div class="form-group namecolor">
			<label>Pyment Type :</label>
			<div class="input-group">
				<div class="input-group-addon">
					<i class="fa fa-th-large"></i>
				</div>
				<select name="product_cat" class="form-control select" id="category_id" required> 
					<option value="1" selected >Cash</option> 
					<option value="2">Installment</option> 
				</select>
			</div>
		</div>

		<div class="form-group namecolor">
			<label for="exampleInputEmail1">Product Name :</label>
			<div class="input-group">
				<div class="input-group-addon">
					<i class="fa fa-plus-circle"></i>
				</div>
				<select name="product_name" class="form-control select" id="product_id" required> 
					
				</select>
			</div>
		</div>
		
		<div class="form-group namecolor">
			<label for="exampleInputEmail1">Brand Name :</label>
			<div class="input-group">
				<div class="input-group-addon">
					<i class="fa fa-bold"></i>
				</div>
				<input type="text" class="form-control" name="brand_name" id="product_brand" placeholder="Brand Name" required>
			</div>
		</div>

		{% comment %} <div class="form-group namecolor">
			<label for="exampleInputEmail1">Product Image :</label>
			<div class="input-group">
				<div class="input-group-addon">
					<i class="fa fa-picture-o"></i>
				</div>
				<input type="file" id="exampleInputFile" name="product_image">
			</div>
		</div> {% endcomment %}

		<div class="form-group namecolor">
			<label for="exampleInputEmail1">Product Model Number :</label>
			<div class="input-group">
				<div class="input-group-addon">
					<i class="fa fa-circle"></i>
				</div>
				<input type="text" class="form-control" name="product_model_number" id="product_model" placeholder="Product Model" >
			</div>
		</div>

		<div class="form-group namecolor">
			<label for="exampleInputEmail1">Product Color :</label>
			<div class="input-group">
				<div class="input-group-addon">
					<i class="fa fa-braille"></i>
				</div>
				<input type="text" class="form-control" name="product_color" id="product_color" placeholder="Product Color" >
			</div>
		</div>

		<div class="form-group namecolor">
			<label for="exampleInputEmail1">Available Quantity :</label>
			<div class="input-group">
				<div class="input-group-addon">
					<i class="fa fa-sort-numeric-desc"></i>
				</div>
				<input type="number" class="form-control" name="total_quantity" id="available_quantity" placeholder="Total Quantity " required>
			</div>
		</div>

		<div class="form-group namecolor">
			<label for="exampleInputEmail1">Unit Price By Cash :</label>
			<div class="input-group">
				<div class="input-group-addon">
					<i class="fa fa-money"></i>
				</div>
				<input type="number" class="form-control" id="unit_price_cash" name="unit_price_by_cash" placeholder="Unit Price By Cash" required>
			</div>
		</div>

		<div class="form-group namecolor">
			<label for="exampleInputEmail1">Unit Price By Installment :</label>
			<div class="input-group">
				<div class="input-group-addon">
					<i class="fa fa-usd"></i>
				</div>
				<input type="number" class="form-control" id="unit_price_installment" name="unit_price_by_installment" placeholder="Unit Price By Installment" required>
			</div>
		</div>

		<div class="form-group namecolor">
			<label for="exampleInputEmail1">Buy Price:</label>
			<div class="input-group">
				<div class="input-group-addon">
					<i class="fa fa-usd"></i>
				</div>
				<input type="number" class="form-control" id="buy_price" name="buy_price" placeholder="Buy Price" required>
			</div>
		</div>

		<div class="form-group namecolor">
			<label for="exampleInputEmail1">Maximum Discount:</label>
			<div class="input-group">
				<div class="input-group-addon">
					<i class="fa fa-usd"></i>
				</div>
				<input type="number" class="form-control" id="maximum_discount" name="maximum_discount" placeholder="Maximum Discount">
			</div>
		</div>

		<div class="form-group namecolor">
			<label for="exampleInputEmail1">Discription :</label>
			<div class="input-group">
				<div class="input-group-addon">
					<i class="fa fa-address-card-o"></i>
				</div>
				<textarea class="form-control" rows="2" id="discription" name="discription" placeholder="Discription"></textarea>
			</div>
		</div>
	</div>
	<div class="box-footer">
		<button type="submit" class="btn btn-primary">Submit</button>
	</div>
</form>